{%extends "base.html"%} 

{%block title%} Goldenfitnes.ru {%endblock%}




{%block content%}

{% include "include/main_menu.html" %}

<main>
    <section>
        <h2>Добро пожаловать!</h2>
        <p>Пример текста на вашей главной странице.</p>
        <p>Это может быть ваша дополнительная информация.</p>
    </section>

    <section>
        <h2>Еще раздел</h2>
        <p>Еще немного контента для вашей страницы.</p>
    </section>
</main>

<footer>
    <p>Здесь может быть информация в подвале страницы.</p>
</footer>

{%endblock%}